{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - accueil{% endblock %}

{% block body %}
    <h1>Ticketing</h1>
    <div class="jumbotron text-center">
        <project></project>
    </div>
{% endblock %}
