<template>
  <table class="table">
    <thead>
    <tr>
      <th width="20%">Tag</th>
      <th>Nom</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="project in projects">
      <td> {{ project.tag }}</td>
      <td> {{ project.label }}</td>
    </tr>
    </tbody>
  </table>
</template>

<script>
import axios from "axios";

export default {
  name: "project",
  data() {
    return {
      projects: []
    };
  },
  mounted() {
    axios.get('/json?type=project')
        .then(response => {
          if (response.data.length > 0) {
            this.projects = [...response.data]
          }
        })
        .catch(err => {
          console.log(err)
        })
  }
}
</script>

<style scoped>

</style>